
{block content}
<table class="table">
    <thead>
        <tr>
            <th>{!_'Name'}</th>
            <th>{!_'Location'}</th>
            <th>{!_'Last seen'}</th>
        </tr>
    </thead>
    <tbody>
        {foreach $bosses as $boss}
        <tr>
            <td><a href="{plink BossOverview:detail, $boss->id}">{$boss->name}</a></td>
            <td>{$boss->map}</td>
            <td>
                {if isset($boss->related('searchedbosses')->select('searchedbosses.timestamp')->where('searchedbosses.found=1')->order('searchedbosses.timestamp')->limit(1)->fetch()->timestamp)}
                    {$boss->related('searchedbosses')->select('searchedbosses.timestamp')->where('searchedbosses.found=1')->order('searchedbosses.timestamp')->limit(1)->fetch()->timestamp|date:'%d.%m.%Y %H:%M'}
                {/if}
            </td>
        </tr>
        {/foreach}
    </tbody>
</table>

{/block}
{block scripts}
{include #parent}
{/block}