#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
common:
  parameters:
    langs: {'cs' : 'cs_CZ.utf8', 'en' : 'en_US.utf8'}

  php:
    date.timezone: Europe/Prague
    # zlib.output_compression: yes

  nette:
    application:
      errorPresenter: Error

    database:
      default:
            dsn: "mysql:host=localhost;dbname=gw2bounty"
            user: root
            password: okno
            options: [PDO::MYSQL_ATTR_COMPRESS = true]
            debugger: true # panel v Debugger baru
            explain: true  # explain dotazů v Debugger baru
            reflection: discovered # nebo conventional nebo název třídy
    session:
      expiration: 14 days

    security:
        roles:
            guest:
            member:
            guildmaster: [member]

  services:
    database: @nette.database.default
    translator:
      class: \h4kuna\GettextLatte(%appDir%/locale/, %langs%)
      setup:
        - setSection(@sessionSection('translator')) # optional, enable automatic language detection
    authenticator: Authenticator
    routerFactory: RouterFactory
    router: @routerFactory::createRouter
    bossRepository: Model\BossRepository(@nette.database.default)
    guildRepository: Model\GuildRepository(@nette.database.default)
    guildMasterRepository: Model\GuildmasterRepository(@nette.database.default)
    missionRepository: Model\MissionRepository(@nette.database.default)
    regionRepository: Model\RegionRepository(@nette.database.default)
    searchedbossesRepository: Model\SearchedbossesRepository(@nette.database.default)
    serverRepository: Model\ServerRepository(@nette.database.default)
    tierRepository: Model\TierRepository(@nette.database.default)

  factories:
    nette.latte:
      factory: \h4kuna\GettextLatte::latte
    sessionSection: # optional
      parameters: [section]
      class: \Nette\Http\SessionSection(@session, %section%)

production < common:

development < common:
