
{block content}
<ul class="pager">
<li class="previous">
<a href="{plink GuildMissions:detail, $hunt->mission_id}">&larr; {!_'Back to the list'}</a>
</li>
</ul>
{snippet info}
<script>
    x={isset($hunt->x) ? $hunt->x : -500};
    y={isset($hunt->y) ? $hunt->y : -500};
    function updateCoord()
    {
        x={isset($hunt->x) ? $hunt->x : -500};
        y={isset($hunt->y) ? $hunt->y : -500};
    }
</script>
<div class="row">
    <div class="span5 pull-right">
        <img src="{$boss->faceurl}">
    </div>
    <div class="span8 offset1">
        <h3>{!_'Info'}</h3>
        <table class="table .table-bordered">
            <tr>
                <td>{!_'Assigned people'}:</td>
                <td>{$hunt->assignedpeople}</td>
            </tr>
            <tr>
                <td>{!_'Map'}:</td>
                <td>{$boss->map}</td>
            </tr>
            <tr>
                <td>{!_'Last seen'}:</td>
                <td>
                    {if isset($last_seen) && $last_seen != false}
                        {$last_seen->timestamp|date:'%d.%m.%Y %H:%M'}
                    {else}
                    -no data-
                    {/if}
                </td>
            </tr>           
            <tr>
                <td>{!_'Dulfy link'}:</td>
                <td><a target="_blank" href="{$boss->descriptionurl}">{$boss->descriptionurl}</a></td>
            </tr>
        </table>
        <a class="btn btn-primary btn-large ajax" href="{plink assign!, $hunt->id}">{!_'Assign'}</a>
        {if $hunt->assignedpeople > 0}
        <a class="btn btn-primary btn-large ajax" href="{plink unAssign!, $hunt->id}">{!_'Unassign'}</a>
        {/if}
        {if $hunt->found != 0}
        <a class="btn btn-inverse btn-large ajax" href="{plink respawned!, $hunt->id}">{!_'Respawned'}</a>
        {/if}
    </div>
</div>
<br><br>
<div class="row-fluent">
    <div class="span10 offset3">
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>{!_'Did you find this boss?'}</h4>
            {!_'Click to the map on the location where you found him.'}
        </div>
    </div>
</div>

<div class="map">
    {if $hunt->found != 0}
        <img id="location" src="{$basePath}/images/dot.png" style="position: absolute; top: -500px; left: -500px" />
    {/if}
    <img id="map" src="{$boss->mapurl}">
</div>
{/snippet}

{/block}
{block scripts}
{include #parent}
<script>
    var t = new Image();
    t.src = "{!$boss->mapurl}";
    var original_x = t.width;
    
    function redrawlocation()
    {
       updateCoord();
       var map = $("#map");
       var offset = map.offset();
       var img = document.getElementById('map'); 
       ratio = img.width / original_x ;
       
       $('#location').offset({ top: (offset.top+ratio*y-14*ratio), left: (offset.left+ratio*x-14*ratio)});
    }
    
    $(document).ready(function() {   
      redrawlocation();
      
    $(window).resize(function() {
        clearTimeout(this.id);
        this.id = setTimeout(redrawlocation, 500);
    });

      
      $('#map').livequery('click', function(e) {
        var offset = $(this).offset();
        var clicked_x = e.pageX - offset.left;
        var clicked_y = e.pageY - offset.top;
        var img_element = this; 
        var original_x = t.width;
        var original_y = t.height;
        ratio = img_element.width / original_x ;
        clicked_x = clicked_x / ratio;
        clicked_y = clicked_y / ratio;
            
        $.get(this.url,{l}x: clicked_x, y:clicked_y, do: "found"{r}, function(payload) {
            if (payload.snippets) {
                for (var i in payload.snippets) {
                        $("#" + i).html(payload.snippets[i]);
                }
            }
            redrawlocation();
        });
      });
    });
</script>
{/block}