
{block content}
{if count($missions_in_progress) > 0}
    <div class="row">
        <div class="span8">
            <h2>{!_"Missions in progress"}</h2>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>{!_'Started'}</th>
                <th>{!_'Tier'}</th>
                <th>{!_'Guild'}</th>
                <th>{!_'Progress'}</th>
                <th>{!_'Found bosses'}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {foreach $missions_in_progress as $mission}
            <tr>
                <td>{$mission->timestamp|date:'%d.%m.%Y %H:%M'}</td>
                <td>{$mission->ref('tier')->name}</td>
                <td>{$mission->ref('guild')->name}</td>
                <td>{$mission->ref('state')->description}</td>
                <td>{$mission->related('searchedbosses')->Sum("searchedbosses.found")} / {$bosses->Count("*")}</td>
                <td>
                    <p class="pull-right">
                        <a class="btn btn-primary btn-large" href="{plink GuildMissions:detail, $mission->id}">Go to summary</a>
                    </p>
                </td>
            </tr>
            {/foreach}
        </tbody>
    </table>
{/if}

<div class="row">
    <div class="span8">
        <h2>{!_"Planned guild missions"}</h2>
    </div>
    <div class="span4 pull-right" style="margin-top: 20px">
         <p><a class="btn pull-right btn-large btn-success" href="{plink GuildMissions:new}">{!_"Plan a new guild mission"}</a></p>
    </div>
</div>
{if count($future_missions) > 0}
<table class="table">
    <thead>
        <tr>
            <th>{!_'Planned start'}</th>
            <th>{!_'Tier'}</th>
            <th>{!_'Guild'}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {foreach $future_missions as $mission}
        <tr>
            <td>{$mission->timestamp|date:'%d.%m.%Y %H:%M'}</td>
            <td>{$mission->ref('tier')->name}</td>
            <td>{$mission->ref('guild')->name}</td>
            <td>
                <p class="pull-right">
                    <a class="btn btn-primary" href="{plink GuildMissions:start, $mission->id}">Start searching for bosses</a>
                    <a class="btn btn-danger" href="{plink GuildMissions:delete, $mission->id}">Cancel</a>
                </p>
            </td>
        </tr>
        {/foreach}
    </tbody>
</table>
{else}
<p>{!_'You have no missions planned. Click on the button Plan mission to set up a new mission.'}</p>
{/if}

{if count($past_missions) > 0}
<h2>{!_"Guild mission history"}</h2>
<table class="table">
    <thead>
        <tr>
            <th>{!_'Planned start'}</th>
            <th>{!_'Tier'}</th>
            <th>{!_'Guild'}</th>
            <th>{!_'State'}</th>
        </tr>
    </thead>
    <tbody>
        {foreach $past_missions as $mission}
        <tr>
            
            <td>{$mission->timestamp|date:'%d.%m.%Y %H:%M:%S'}</td>
            <td>{$mission->ref('tier')->name}</td>
            <td>{$mission->ref('guild')->name}</td>
            <td>{$mission->ref('state')->description}</td>
        </tr>
        {/foreach}
    </tbody>
</table>
{/if}

{/block}
{block scripts}
{include #parent}
{/block}