
{block content}
<div class="row">
    <div class="span4">
        <h2>{!_'Info'}</h2>
        <ul>
            <li>{!_'Progress'}: <strong>{!_$mission->ref('state')->description}</strong></li>
            <li>{!_'Found'}: {$mission->related('searchedbosses')->Sum("searchedbosses.found")} / {$allBosses->Count("*")}
        </ul>
    </div>

{if $mission->ref('state')->id == 1}
        </div>
    <a class="btn btn-primary" href="{plink GuildMissions:start, $mission->id}">{!_'Start searching for bosses'}</a>
{elseif $mission->ref('state')->id == 2}
        <div class="span5 offset3">
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4>{!_'Want go search for a boss?'}</h4>
                {!_'Find the one with the lowest assigned people and click on his name. On the next page press Assign button to let guild master know that there is one more person searching for that boss.'}
            </div>
        </div>
        <a class="btn btn-primary" href="{plink GuildMissions:kill, $mission->id}">{!_'Go kill bosses'}</a>
    </div>
    <table class="table">
       <thead>
           <tr>
               <th>{!_'Name'}</th>
               <th>{!_'Location'}</th>
               <th>{!_'Assigned people'}</th>
               <th>{!_'Last seen'}</th>
               <th>{!_'Found by you?'}</th>
           </tr>
       </thead>
       <tbody>
           {foreach $mission->related('searchedbosses')->select('searchedbosses.*') as $boss}
           <tr>
               <td><a href="{plink BossSearch:default, $boss->id}">{$boss->ref('boss')->name}</a></td>
               <td>{$boss->ref('boss')->map}</td>
               <td>{$boss->assignedpeople}</td>
               <td>
                    {if isset($boss->ref('boss')->related('searchedbosses')->select('searchedbosses.timestamp')->where('searchedbosses.found=1')->order('searchedbosses.timestamp DESC')->limit(1)->fetch()->timestamp)}
                        {$boss->ref('boss')->related('searchedbosses')->select('searchedbosses.timestamp')->where('searchedbosses.found=1')->order('searchedbosses.timestamp DESC')->limit(1)->fetch()->timestamp|date:'%d.%m.%Y %H:%M'}
                    {/if}
               </td>
               <td>
                   {if $boss->found==1}
                        <i class="icon-ok"></i>
                   {else}
                        &nbsp;
                   {/if}
               </td>
           </tr>
           {/foreach}
       </tbody>
   </table>
{elseif $mission->ref('state')->id == 3}
    {if $user->isInRole('guildmaster') == true}
        <div class="span5 offset3">
            <br>
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4>{!_'What now?'}</h4>
                {!_'When you kill all bosses press following button and mission will be marked as complete.'}
            </div>
        </div>
    {/if}
    </div>
    
    <div class="row">
        <div class="span5">
            <a class="btn btn-primary" href="{plink GuildMissions:finish, $mission->id}">{!_'All bosses killed'}</a>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <p><br>{!_'Here is the list of bosses with their last known location. Either found by your players or by someone else.'}</p>
        </div>
    </div>
    
    
    {assign $i => 0}
    {foreach $hunts as $hunt}
        <h2>{$hunt->ref('boss')->name}</h2>
        <p>
            {if isset($hunt->ref('boss')->related('searchedbosses')->select('searchedbosses.timestamp')->where('searchedbosses.found=1')->order('searchedbosses.timestamp DESC')->limit(1)->fetch()->timestamp)}
                {!_'Last seen'}:
                {$hunt->ref('boss')->related('searchedbosses')->select('searchedbosses.timestamp')->where('searchedbosses.found=1')->order('searchedbosses.timestamp DESC')->limit(1)->fetch()->timestamp|date:'%d.%m.%Y %H:%M'}
            {else}
                {!_'Last seen'}: -{!_'no data'}-
            {/if}
        </p>
        <div class="map">
            <img id="location{$i}" src="{$basePath}/images/dot.png" style="position: absolute; top: -500px; left: -500px" />
            <img id="map{$i}" src="{$hunt->ref('boss')->mapurl}">
        </div>
        {assign $i => $i + 1}
    {/foreach}
{/if}
    
{/block}
{block scripts}
{include #parent}
<script>
    {assign $i => 0}
    {foreach $hunts as $hunt}
        var t{$i} = new Image();
        t{$i}.src = "{!$hunt->ref('boss')->mapurl}";
        var original_x{$i} = t{$i}.width;
        {if isset($hunt->ref('boss')->related('searchedbosses')->select('searchedbosses.x, searchedbosses.y')->where('searchedbosses.found=1')->order('searchedbosses.timestamp DESC')->limit(1)->fetch()->x)
            && isset($hunt->ref('boss')->related('searchedbosses')->select('searchedbosses.x, searchedbosses.y')->where('searchedbosses.found=1')->order('searchedbosses.timestamp DESC')->limit(1)->fetch()->y)}
            var x{$i}={$hunt->ref('boss')->related('searchedbosses')->select('searchedbosses.x')->where('searchedbosses.found=1')->order('searchedbosses.timestamp DESC')->limit(1)->fetch()->x};
            var y{$i}={$hunt->ref('boss')->related('searchedbosses')->select('searchedbosses.y')->where('searchedbosses.found=1')->order('searchedbosses.timestamp DESC')->limit(1)->fetch()->y};
        {else}
            var x{$i}=-500;
            var y{$i}=-500;
        {/if}
        {assign $i => $i + 1}
    {/foreach}
    
    function redrawlocation()
    {
       {assign $i => 0}
       {foreach $hunts as $hunt}
            var map{$i} = $("#map{$i}");
            var offset{$i} = map{$i}.offset();
            var img{$i} = document.getElementById('map{$i}'); 
            ratio{$i} = img{$i}.width / original_x{$i} ;
            $('#location{$i}').offset({ top: (offset{$i}.top+ratio{$i}*y{$i}-14*ratio{$i}), left: (offset{$i}.left+ratio{$i}*x{$i}-14*ratio{$i})});
            
            {assign $i => $i + 1}
        {/foreach}
    }
    
    $(document).ready(function() {   
      redrawlocation();
    });
      
    $(window).resize(function() {
        clearTimeout(this.id);
        this.id = setTimeout(redrawlocation, 500);
    });
</script>
{/block}