
{block content}
{if count($missions_in_progress) > 0}
    <div class="row">
        <div class="span8">
            <h2>{!_"Missions in progress"}</h2>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>{!_'Started'}</th>
                <th>{!_'Tier'}</th>
                <th>{!_'Progress'}</th>
                <th>{!_'Found bosses'}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {foreach $missions_in_progress as $mission}
            <tr>
                <td>{$mission->timestamp|date:'%d.%m.%Y %H:%M'}</td>
                <td>{$mission->ref('tier')->name}</td>
                <td>{$mission->ref('state')->description}</td>
                <td>{$mission->related('searchedbosses')->Sum("searchedbosses.found")} / {$bosses->Count("*")}</td>
                <td>
                    <p class="pull-right">
                        <a class="btn btn-primary btn-large" href="{plink GuildMissions:detail, $mission->id}">Go to summary</a>
                    </p>
                </td>
            </tr>
            {/foreach}
        </tbody>
    </table>
{/if}


<div class="row">
    <div class="span8">
        <h2>{!_"Planned guild missions"}</h2>
    </div>
</div>
{if count($future_missions) > 0}
<table class="table">
    <thead>
        <tr>
            <th>{!_'Planned start'}</th>
            <th>{!_'Tier'}</th>
        </tr>
    </thead>
    <tbody>
        {foreach $future_missions as $mission}
        <tr>
            <td>{$mission->timestamp|date:'%d.%m.%Y %H:%M'}</td>
            <td>{$mission->ref('tier')->name}</td>
        </tr>
        {/foreach}
    </tbody>
</table>
{else}
<p>{!_'You have no missions planned. Click on the button Plan mission to set up a new mission.'}</p>
{/if}

{/block}
{block scripts}
{include #parent}
{/block}