
{block content}
<ul>
    <li>{!_"Only guild master have to register. Other members will access this site without registration."}</li>
    <li>{!_"In game character name is used for communication with other guilds."}</li>
</ul>
{control newGuildMissionForm}