
{block content}
<p>{!_'Here you can set up the password used by guild members to log in.'}</p>
<p>{!_'You can update guild password whenever you want. But dont forget to tell the new password to your guild mates.'}</p>
{control guildPasswordForm}