{**
 * My Application layout template.
 *
 * @param string   $basePath web base path
 * @param string   $robots   tell robots how to index the content of a page (optional)
 * @param array    $flashes  flash messages
 *}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="">
        <meta name="robots" content="{$robots}" n:ifset="$robots">

        <title>{block title|striptags|upper}Guild Wars 2 Bounty Mission Organiser{/block}</title>

        <link href="{$basePath}/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="{$basePath}/css/screen.css" rel="stylesheet" media="screen">

        <link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/screen.css">
        <link rel="stylesheet" media="print" href="{$basePath}/css/print.css">
        <link href="{$basePath}/css/datetimepicker.css" rel="stylesheet" media="screen">
        <link rel="shortcut icon" href="{$basePath}/favicon.ico">
	{block head}{/block}
    </head>

    <body>
        <script> document.body.className+=' js'
        $(function () {
            $.nette.init();
        });
        </script>

        <div class="container">
            <div class="page-header">
                <h2>Guild Wars 2 Bounty Mission Organiser</h2>
            </div>
            <div class="masthead">

                <div class="navbar">
                    <div class="navbar-inner">
                        <div class="container">
                        <ul class="nav">
                            {if $user->isLoggedIn() == false}
                                <li {if $presenter->getName()=="Homepage"}class="active"{/if}>
                                    <a href="{plink Homepage:}">{!_"Join now"}</a>
                                </li>
                                <li {if $presenter->getName()=="Calendar"}class="active"{/if}>
                                    <a href="{plink Calendar:}">{!_"Calendar"}</a>
                                </li>
                                <li {if $presenter->getName()=="Sign"}class="active"{/if}>
                                    <a href="{plink Sign:in}">{!_"Login"}</a>
                                </li>
                            {else}
                                <li {if $presenter->getName()=="GuildMissions"}class="active"{/if}>
                                    <a href="{plink GuildMissions:}">{!_"Guild missions"}</a>
                                </li>
                                <li {if $presenter->getName()=="Calendar"}class="active"{/if}>
                                    <a href="{plink Calendar:}">{!_"Calendar"}</a>
                                </li>
                                <li {if $presenter->getName()=="BossOverview"}class="active"{/if}>
                                    <a href="{plink BossOverview:}">{!_"Boss overview"}</a>
                                </li>
                                <li>
                                    <a href="{plink Sign:out}">{!_"Logout"}</a>
                                </li>
                            {/if}
                        </ul>
                        </div>
                    </div>
                </div>
            </div>
            
            <div n:foreach="$flashes as $flash" class="alert {$flash->type}">{$flash->message}</div>

            {include #content}
        </div>

	{block scripts}
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="{$basePath}/js/jquery.livequery.js"></script>
        <script src="{$basePath}/js/netteForms.js"></script>
        <script src="{$basePath}/js/main.js"></script>
        <script src="{$basePath}/js/bootstrap.min.js"></script>
        <script src="{$basePath}/js/nette.ajax.js"></script>
        <script src="{$basePath}/js/nextras.netteForms.js"></script>
        <script type="text/javascript" src="{$basePath}/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
        <script type="text/javascript" src="{$basePath}/js/locales/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script>
         <script>
            $(function () {
                $.nette.init();
            });
        </script>
        <script type="text/javascript">
            $('.form_datetime').datetimepicker({
                //language:  'fr',
                weekStart: 1,
                todayBtn:  1,
                        autoclose: 1,
                        todayHighlight: 1,
                        startView: 2,
                        forceParse: 0,
                showMeridian: 1
            });
                /*$('.form_date').datetimepicker({
                language:  'fr',
                weekStart: 1,
                todayBtn:  1,
                        autoclose: 1,
                        todayHighlight: 1,
                        startView: 2,
                        minView: 2,
                        forceParse: 0
            });
                $('.form_time').datetimepicker({
                language:  'fr',
                weekStart: 1,
                todayBtn:  1,
                        autoclose: 1,
                        todayHighlight: 1,
                        startView: 1,
                        minView: 0,
                        maxView: 1,
                        forceParse: 0
            });*/
        </script>
	{/block}
    </body>
</html>
